.HomeContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        gap: 2rem;
        background-color: var(--secondary-gray);

        .heroSection {
            background-color: var(--gray);
            color: var(--text-color);
        }

        .movieCardsSection {
            width: 70%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }

}