.containerLogon {
    width: 800px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: auto;
    margin: 0 auto;
    background-color: #525252;

    .headerLogon {
        width: 80%;
        cursor: pointer;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .boxHeaderLogon {
            font-weight: 400;
            font-size: 1.1em;
            color: #FFF;
            padding: 16px 0px;
            transition: 1s all;
            background-color: rgba(17, 17, 17, 0.5);
            width: 50%;
        }

        .active {
            background-color: #111111 !important;
        }

        #register {
            border-top-right-radius: 10px;
            background-color: rgba(17, 17, 17, 0.5);
            border-bottom-right-radius: 10px;
        }

        #login {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .bodyLogon {
        margin: 0 auto;
        max-width: 60%;
        color: #FFF;

        h2 {
            margin: 35px auto;
        }

        form {
            display: flex;
            width: 100%;
            gap: 16px;
            flex-direction: column;

            .sectionDivisor {
                display: flex;
                gap: 16px;

                .groupInput {
                    width: 50% !important;

                    input {
                        width: 100%;
                    }
                }

            }

            .groupInput {
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 7px;

                span {
                    text-align: left;
                    color: var(--accent);
                    font-weight: 700;
                }

                label {
                    font-size: 1.1em;
                    font-weight: 400;
                    text-align: left;
                }

                input {
                    height: 56px;
                    font-size: 1.2em;
                    font-weight: 700;
                    outline: none;
                    color: #FFF;
                    padding: 0px 10px;
                    border-radius: 13px;
                    border-color: #000;
                    background-color: transparent;
                }
            }

            button {
                padding: 15px 0px;
                background-color: #000;
                color: #FFF;
                font-size: 1.5em;
                border-radius: 40px;
                border: none;
                font-weight: 500;
                margin-bottom: 50px;
                transition: .7s all;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}