.MoviesPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        gap: 2rem;
        background-color: var(--secondary-gray);

        .heroSection {
            background-color: var(--gray);
            color: var(--text-color);
        }

        .moviesHeader {
            display: flex;
            justify-content: space-between;
            background-color: var(--gray);
            padding: 1rem 2rem;
            align-items: center;
            width: 70%;
            margin: auto;

            h2 {
                font-size: 2rem;
                font-weight: 700;
                color: var(--text-color);
            }

            .expand {
                color: var(--accent);
                font-size: 1.2rem;
                cursor: pointer;
            }
        }

        .movieCardsSection {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 2rem;
        }
    }

}