.FooterContainer {
    background-color: var(--gray);
    display: flex;
    flex-shrink: 0;
    color: var(--text-color);
    text-align: center;

    .generalSection {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 4rem;
        width: 35%;
        text-align: start;
        background-color: var(--secondary-gray);

        .footerBrand {
            font-size: 3rem;
        }

        .inputSection {
            display: grid;
            gap: 1rem;

            .joinNewslettersLabel {
                font-weight: 700;
            }

            .inputBox {
                display: flex;
                padding: 0.5rem;
                justify-content: space-between;
                background-color: var(--body);
                border-radius: 0.5rem;

                .joinNewslettersInput {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: 1rem;
                    color: var(--text-color);
                }

                .joinNewslettersInput::placeholder {
                    color: var(--disable);
                    font-size: 1rem;
                }

                .send {
                    background-color: var(--accent);
                    border: none;
                    padding: 0.5rem;
                    border-radius: 0.5rem;

                    span {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .detailsSection {
        width: 60%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;

        .infos {
            display: flex;
            justify-content: space-between;
            width: 80%;
            text-align: start;

            .infoMap {
                list-style: none;
                display: grid;
                gap: 2rem;
            }
        }

        .contactInfos {
            display: flex;
            justify-content: space-between;

            .infoItem {
                display: flex;
                gap: 1rem;
                align-items: center;
                font-size: 14px;

            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .FooterContainer {
        .detailsSection {
            .contactInfos {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .FooterContainer {
        flex-direction: column;

        .generalSection {
            width: 100%;
            align-items: center;
            text-align: center;

            .inputBox {
                max-width: 20rem;
            }
        }

        .detailsSection {
            width: 100%;

            .infos {
                width: 100%;
            }

            .contactInfos {
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}