@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #2E2E2E;
    --secondary-gray: #302D28;
    --accent: #FED530;
    --body: #808080;
    --disable: #E6E6E6;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}